:root {
  @media (prefers-color-scheme: dark) {
    --accent: rgb(254, 128, 25);
    --accent-alpha-70: rgba(254, 128, 25,.7);
    --accent-alpha-20: rgba(254, 128, 25,.2);

    --background: #1D2021;
    --color: #ebdbb2;
    --link: #fbf1c7;
    --border-color: rgba(255, 255, 255, .1);

    div.logo {
      color: black;
    }
  }
  @media (prefers-color-scheme: light) {
    --accent: rgb(254, 128, 25);
    --accent-alpha-70: rgba(254, 128, 25,.7);
    --accent-alpha-20: rgba(254, 128, 25,.2);

    --background: #fbf1c7;
    --color: #3c2836;
    --border-color: rgba(0,0,16,.125);
    
    div.logo {
      color: white;
    }
  }
}
