:root {
  --accent: #9ccfd8;
  --accent-alpha-70: rgba(#9ccfd8, .7);
  --accent-alpha-20: rgba(#9ccfd8,.2);

  --background: #191724;
  --color: #e0def4;
  --link: #9ccfd8;
  --border-color: rgba(255, 255, 255, .1);
}
